.header {
    width: 100%;
    background-color: #01010133;
    position: fixed;
    top: 0;
    z-index: 99;
    overflow: hidden;
    backdrop-filter: blur(4px);
}

.header_short {
    background-color: #212121;
}

.header__wrapper {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.8s;
}

div.header__wrapper_short {
    height: 50px;
}

.header__logo {
    width: 56px;
    display: inline-block;
}

.header__logo-img {
    width: inherit;
}

.header__nav-item {
    color: #d7d7d7;
    margin-right: 60px;
}

.header__nav-item:hover {
    color: #000000;
    background-color: #fff;
}

.header__nav-item_checked {
    background-color: rgb(227, 114, 0);
    border-radius: 32px;
}

.header__nav-item_checked:hover {
    background-color: rgb(255, 147, 40);
}

.header__shopping-cart {
    display: inline-block;
}

/* -------------------------------media queries */

@media screen and (max-width: 1024px){
    .header__nav-item {
        margin-right: 30px;
    }
}

@media screen and (max-width: 960px){
    .header__wrapper {
        height: 80px;
    }

    a.header__nav-item {
        padding: 10px 16px;
    }

    .header__logo {
        width: 46px;
    }
}

@media screen and (max-width: 769px){
    .header__nav-item {
        margin-right: 20px;
    }
}

@media screen and (max-width: 375px){
    
}