.menu__navbar {
  height: 50px;
  position: sticky;
  top: 50px;
  z-index: 5;
  transition: all 0.3s;
}

.menu__navbar-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  background-color: #ffffff;
  box-shadow: 0 -18px 26px 20px #44444444;
}

.menu__navbar-wrapper_hidden {
  display: none;
}

.menu__nav_hidden {
  display: none;
}

.menu__nav-item {
  color: #000000;
}

.menu__nav-item:hover {
  background-color: #212121;
  color: #ffffff;
}

.menu__nav-item_active {
  background-color: #212121;
  color: #ffffff;
}

.menu__nav-item_checked {
  color: rgb(255, 147, 40);
}

.menu__nav-item_checked:hover {
  background-color: rgb(255, 147, 40);
  color: #000000;
}

.menu__nav-item_checked-active {
  background-color: rgb(255, 147, 40);
  color: #000000;
}

/* media queries */
@media screen and (max-width: 769px) {
  .menu__wrapper {
    width: 650px;
  }
}

@media screen and (max-width: 375px) {}