.menu-list__classic,
.menu-list__author,
.menu-list__raf,
.menu-list__fresh,
.menu-list__season {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
}

.menu-list__title {
    margin-top: 36px;
    display: block;
    position: relative;
}

.menu-list__title:after {
    display: block;
    position: absolute;
    bottom: -5px;
    width: 100%;
    height: 2px;
    background-color: #4c4c4cb5;
    content: "";
}

.menu-item {
    width: calc(33.33% - 67px);
    margin-top: 50px;
    margin-right: 100px;
    background-color: transparent;
    box-shadow: 0px 0px 7px #4444442c;
    border-radius: 25px;
    overflow: hidden;
    transition: box-shadow 0.4s;
}

.menu-item:hover {
    box-shadow: 0px 0px 17px #44444448;
}

.menu-item:nth-child(-n + 3) {
    margin-top: 0;
}

.menu-item:nth-child(3n),
.menu-item:last-child {
    margin-right: 0;
}

.menu-item__link {
    text-decoration: none;
}

/* to resize menu-items images on hover using CSS */
/* .menu-item:hover .menu-item__image {
    transform: scale(1.1);
} */

.menu-item__header {
    padding: 20px 0 0 20px;
    font-size: 18px;
    font-weight: 600;
    color: #212121;
}

.menu-item__image-block {
    height: 365px;
    margin-top: 20px;
    overflow: hidden;
}

.menu-item__image {
    width: 100%;
    height: 100%;
    object-position: center;
    object-fit: cover;
    transition: transform 0.4s;
}

.menu-item__image_resize {
    transform: scale(1.2);
}

.menu-item__info {
    padding: 20px 0;
    display: flex;
}

.menu-item__price-block {
    width: 33.33%;
    border-right: 1px solid #4c4c4cb5;
    text-align: center;
}

.menu-item__price-block:last-child {
    margin-right: 0;
    padding-right: 0;
    border-right: none;
}

.menu-item__volume {
    font-size: 14px;
    font-weight: 600;
    color: #4c4c4cb5;
}

.menu-item__price {
    font-size: 18px;
    font-weight: 800;
    color: #212121;
}

.menu-item__rub {
    font-size: 18px;
    font-weight: 800;
    color:#212121;
}