.menu {
    position: sticky;
    top: 50px;
}

.menu__header {
    width: 700px;
    margin: 0 auto;
    text-align: center;
    border: 1px solid #000;
}

.menu__title {
    font-size: 36px;
    font-weight: 400;
    display: inline-block; 
}

.menu__nav-item {
    color: #000000;
}
.menu__nav-item:hover {
    background-color: #000000;
    color: #ffffff;
}

.menu__nav-item_checked {
    color: rgb(255, 147, 40);
}

.menu__nav-item_checked:hover {
    background-color: rgb(255, 147, 40);
    color: #000000;
}
