.menu {
    position: sticky;
    top: 50px;
    z-index: 5;
    background-color: #ffffff;
    transition: all 0.3s;
}

.menu_shaddow {
    box-shadow: 0px 2px 15px #44444444;
}

.menu__header {
    width: 700px;
    margin: 0 auto;
    text-align: center;
}

.menu__title {
    font-size: 28px;
    font-weight: 400;
    display: inline-block;
}

nav.menu__nav {
    padding: 7px 0;
    margin-top: 7px;
    justify-content: space-between;
    border-top: 1px solid #212121a3;
}

.menu__nav-item {
    color: #000000;
}
.menu__nav-item:hover {
    background-color: #212121;
    color: #ffffff;
}

.menu__nav-item_checked {
    color: rgb(255, 147, 40);
}

.menu__nav-item_checked:hover {
    background-color: rgb(255, 147, 40);
    color: #000000;
}
