* {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Source Serif 4', serif;
    letter-spacing: 2px;
    margin: 0;
    
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px 0 15px;
}

.header {
    width: 100%;
    background-color: #0000007d;
    position: fixed;
    top: 0;
}

.header__wrapper {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo-img {
    height: 76px;
}

.header__nav {
    display: flex;
    align-items: center;
}

.header__nav-item {
    padding: 11px 22px;
    margin-right: 60px;
    color: #d7d7d7;
    text-decoration: none;
    border-radius: 32px;
    transition: background-color 0.3s, color 0.3s;
}

.header__nav-item:hover {
    background-color: #fff;
    color: #000000;
}

.header__nav-item:last-child {
    margin-right: 0;
}

.header__nav-item_checked {
    padding: 11px 22px;
    background-color: rgb(227, 114, 0);
    border-radius: 32px;
}

.header__nav-item_checked:hover {
    background-color: rgb(255, 147, 40);
}
/* -----------------/header-------------------- */
.main {
    height: 900px;
}

.main__wrapper {
    width: 100%;
}

.main__bg-img {
    max-width: 100%;
}


